@import "settings/wireshark";
@import "components/asciidoc";
//@import "components/awesome-icons";

body {
  max-width: 250mm;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3, #toctitle, .sidebarblock > .content > .title { font-size: 1.6em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1.1em; }
}

dt, th.tableblock, td.content, div.footnote {
  // NOTE text-rendering is already set for p
  text-rendering: optimizeLegibility;
}

// QUESTION should we tighten letter spacing of text in footnotes?
h1, h2, p, td.content, span.alt {
  letter-spacing: -0.01em;
}

p, td.content, div.footnote {
  strong {
    // NOTE needs to apply anywhere we have bold prose
    letter-spacing: -0.005em;
  }
}

// NOTE include blockquote for when it doesn't have a nested p
p, blockquote, dt, td.content, span.alt {
  font-size: 1.0625rem;
}

p, pre {
  margin-bottom: 1.25rem;
}

// restore font size in sidebar block and regular table cells
.sidebarblock p, .sidebarblock dt, .sidebarblock td.content, p.tableblock {
  font-size: 1em;
}

.exampleblock > .content {
  // white
  //background-color: #fff;
  //border-color: $panel-border-color;
  //@include single-box-shadow($panel-border-color, 0, 1px, 2px);

  // light yellow
  background-color: #fffef7; // from rgb(252,247,227), analogous to #f8f8f7
  border-color: $panel-border-color;
  @include single-box-shadow($panel-border-color, 0, 1px, 4px);
}

.guimenu, .guimenuitem {
  padding: 0.1em;
  border: 0.5px rgba(0, 0, 0, 0.5) solid;
}

.guibutton {
  padding: 0.1em;
  border: 0.5px rgba(0, 0, 0, 0.5) solid;
  border-radius: 4px;
}

.keycap {
  padding: 0.1em;
  border: 0.5px rgba(0, 0, 0, 0.5) solid;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@import "components/print";
